<div id="about-banner" style="background-image: url(<%- theme.about.banner %>)"></div>
<div class="author">

  <article class="post-article" style="margin-top: 40px;">
      <section class="markdown-content" style="text-align: left; padding-left: 60px;">
          <p>Dear reader,</p>

          <p>I’m Nick Chen,  I’ve been working as a programmer for almost ten years.</p>

          <p>I love programming and have a passion for it.  Writing is my current pursuit.</p>

          <p>To improve my writing, I try to write one post every day.  </p>

          <p>I’m glad if any of my pieces could help you. Most posts on this site will be related to these topics:</p>

          <h2>Core knowledge and skills in programming.</h2>
          <p>I will focus on the fundamental things in most cases. Data structures and algorithms, System, Networking, Programming language.</p>

          <h2> How to learn programming and technology quickly and efficiently</h2>
          <p>Learn by practice, learn by teaching. I try to explain the knowledge in plain words and illustrations. </p>

          <h2>The career and life of programmers</h2>
          <p>What I learned in my career. How to grow a career as a software engineer.</p>

          <h2> Writing</h2>
          <p>My story on writing. What I learned and my tips for practicing English writing.</p>

          <p>Want to say Hi? <a href="mailto:nickmose8@gmail.com" target="_blank" rel="external">nickmose8@gmail.com</a></p>

      </section>
  </article>

  <section class="share-icons">
    <% if (theme.about.weibo_username) { %>
      <a class="icon-weibo" href="http://weibo.com/<%- theme.about.weibo_username %>" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    <% } %>
    <% if (theme.about.twitter_username) { %>
      <a class="icon-twitter" href="https://twitter.com/<%- theme.about.twitter_username %>" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    <% } %>
    <% if (theme.about.github_username) { %>
      <a class="icon-github" href="https://github.com/<%- theme.about.github_username %>" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-github fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    <% } %>
  </section>
</div>

<script>
  (function () {
    $('.header').removeClass('fixed-header')
    var windowH = $(window).height();
    var author = $('.author')
    var bodyH = author.offset().top + author[0].offsetHeight + 71;
    if (bodyH < windowH) {
      author.css({
        'margin-bottom': windowH - bodyH
      })
    }
  })();
</script>
