.catalog-container
  display: block
  margin-left: 20px
  flex-basis: 180px
  -webkit-flex-basis: 180px
  flex-shrink: 0
  -webkit-flex-shrink: 0
  @media m-pad
    display: none
  .fixed-toc
    position: fixed
    top: 90px
  .toc-main
    padding-left: 20px
    border-left: 1px solid color-border
    width: 260px
    box-sizing: border-box
    .toc-title
      display: none
      font-size: 1.0em
      position: relative
      padding-left: 28px
      max-width: 100%
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      &:before
        content: ''
        position: absolute
        width: 22px
        height: 18px
        left: 0
        top: 3px
        border-top: 3px solid color-primary
        border-bottom: 3px solid color-primary
        box-sizing: border-box
      &:after
        content: ''
        position: absolute
        width: 22px
        height: 3px
        left: 0
        top: 10px
        background: color-primary
    .toc-nav,
    .toc
      position: relative
      padding: 28px 0 0
      margin: 0.5em 0 0
      overflow-y: scroll
      max-height: 480px
      &:before
        content: ''
        position: absolute
        width: 22px
        height: 18px
        left: 0
        top: 0
        border-top: 3px solid color-primary
        border-bottom: 3px solid color-primary
        box-sizing: border-box
      &:after
        content: ''
        position: absolute
        width: 22px
        height: 3px
        left: 0
        top: 7px
        background: color-primary
      &::-webkit-scrollbar
        display: none
      li
        position: relative
        list-style: none
        line-height: 1.5
        text-align: left
        text-overflow: ellipsis
        a
          display: inline-block
          position: relative
    ol
      padding-left: 1em
      margin: 0
    > ol
      padding-left: 0
    li
      list-style-type: none
      line-height: 1.5
      text-align: left
